* {
    box-sizing: border-box;
}

.contactlayout {
    display: block;
}

.button, a {
    color: white;
    margin-right: 1rem;
    text-decoration: none;
}

.container {
    max-width: 760px;
    margin: 0 auto;
}

input {
    width: 100%;
    margin-top: 2px;
    padding: 10px;
    font-size: 16px;
}

button, .button {
    background: #3466AF;
    border: none;
    width: 200px;
    padding: 1rem;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 0.2rem;
}

label {
    display: block;
    margin-top: 1rem;
}

.form-error {
    display: none;
    color: red;
    font-size: 0.9rem;
    margin-top: 2px;
}