.previewSection {
    padding-top: 15rem;
    width: 80vw;
    margin: 0 auto;
    position: relative;
    border: green 2px solid;
}

.carousel {
    width: 80vw;
    height: 100vh;
    position: relative;
    border: darkblue 2px;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active]{
    opacity: 1;
}

.carousel-button {
    position: absolute;
    background: none;
    border: none;
    font-size: 4rem;
    top: 25%;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, .7);
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button:hover,
.carousel-button:focus {
    color: yellow;
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-button.prev {
    left: -4rem;
}

.carousel-button.next {
    right: -4rem;
}

.slide {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    gap: 2rem;
    /* width: 90vw; */
    border: red solid 2px;
    max-width: 1400px;
    margin: 0 auto;
    max-height: fit-content;
}

.post {
    min-width: 275px;
    background-color: rgba(255, 255, 255, 0.5);
    border: #ffff00 solid 2px;
    height: fit-content;
    z-index: 1;
}

.postTitle {
    /* font-family: Bebas Kai; */
    font-size: xx-large;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    color: black;
}

.postImage {
    /* width: 100%; */
    height: 200px;
    object-fit: cover;
    padding: 0 2rem;
}

.postText {
    font-family: Oswald;
}

.buttonAllPosts {
    background-image: url(/images/team/Wallpaper_nothing.png);
    border: none;
    width: 150px;
    padding: 1rem;
    color: var(--sm-color);
    /* margin-top: 10px; */
    cursor: pointer;
    border-radius: 0.2rem;
    font-family: Bebas Kai;
    font-size: x-large;
    position: absolute;
    margin-top: -22rem;
    margin-left: 30rem;
    /* align-content: center;     */
}

.buttonAllPosts button {
    margin: 0 auto;
}



@media (max-width:1020px){
    #postSection {
        width: 280px;
    }
}