#viewSpecificPost {
    padding-top: 150px;
    width: 50vw;
    margin: 0 auto;
}

.chosenPost {
    margin: 0 auto;
    margin-top: 200px;
}

.postImage {
    width: 80%;
    margin: 4rem 0;
}

.postSpecific {
    font-family: Bebas Kai;
    font-size: xxx-large;
}

p {
    /* color: red;
    background-color: pink; */
    width: 80%;
}

.postDate {
    margin: 4rem 0;
}


@media (max-width:1020px) {
    #viewSpecificPost {
        padding-top: 2rem;
    }

    .postImage {
        margin-top: 2rem;
    }
}